.table-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.table-wrapper table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1rem;
    width: 60%;
    min-width: 750px;
    border-radius: 10px 0 10px 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.table-wrapper table caption {
    margin-bottom: 1rem;
    color: rgb(12, 12, 80);
}

.table-wrapper table thead tr {
    background-color: #072764;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.table-wrapper table th,
.table-wrapper table td {
    padding: 12px 15px;
}

.table-wrapper table tbody tr {
    border-bottom: 1px solid #ddd;
}

.table-wrapper table tbody tr td a {
    text-decoration: none;
    color: black;
}

.table-wrapper table tbody tr:nth-of-type(even) {
    background-color: #fdfbfb;
}

.table-wrapper table tbody:last-of-type {
    border-bottom: 2px solid blue;
}

.table-wrapper table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.table-wrapper table tbody tr:hover {
    background-color: lightblue;
}

.table-wrapper table tbody tr td a:hover {
    color: #f7f8f8;
}